.front:empty,
.back:empty {
  display: block;
  padding-bottom: 200px;
  width: 200px;
}

@media (max-width: 1296px) {
  .front:empty,
  .back:empty {
    max-width: 200px;
    padding-bottom: 200px;
  }
}
@media (max-width: 992px) {
  .front:empty,
  .back:empty {
    max-width: 200px;
    padding-bottom: 150px;
  }
}
@media (max-width: 767px) {
  .front:empty,
  .back:empty {
    max-width: 100px;
    padding-bottom: 100px;
  }
}

.card .front:empty {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}

.opened .front:empty {
  transform: rotateY(0deg);
}

.card .back:empty {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.opened .back:empty {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
